  <!-- I'm still working on a good situation for my navigation menu. Right now everytime I add a new category I just add it here and copy and paste it into each file -->
<!----------------------------------------------------------------------------------------------------------------------------------------------->  
  <!-- nav menu -->
  <a id="nav-expand" href="#">
    <span class="icon icon-menu"></span>&nbsp;
    Menu
  </a>
  <nav>
    <a id="nav-collapse" href="#">
      <span class="icon icon-cross"></span>
    </a>
    <a href="index.html">Home</a>

    <div class="category-navbar">
      <p><u><strong>Categories</strong></u></p>
    </div>

    <a href="vpn.html">VPN</a>
    <a href="credits.html">Credits</a>
    <a href="adblock.html">Ad-Blocking</a>

  </nav>
  <!-- end nav menu-->
